@model CPWebApp.Models.PESSOAS

@{
    ViewBag.Title = "Criar novo - PESSOAS";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="row mt-4 align-items-center">
        <div class="col-2">
            <a href="@Url.Action("Index")" class="text-dark"><i class="material-icons" style="font-size: 36px;">arrow_back</i></a>
        </div>
        <div class="col-8 text-center">
            <h2>PESSOAS - Criar novo</h2>
        </div>
        <div class="col-2 text-right d-none d-lg-block">
            <button id="submit" type="submit" class="btn btn-success">Salvar</button>
        </div>
        <div class="col-2 text-right d-lg-none">
            <div onclick="$('#submit').click()" class="text-success"><i class="material-icons" style="font-size: 36px;">add</i></div>
        </div>
    </div>
    <hr class="mt-1 mb-3" />
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-12" })
            <div class="col-12">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-12" })
            <div class="col-12">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gestor, "gestor", htmlAttributes: new { @class = "control-label col-12" })
            <div class="col-12">
                @Html.DropDownList("gestor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.gestor, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
