@model CPWebApp.Models.PARTICIPANTES

@{
    ViewBag.Title = "Excluir - PARTICIPANTES";
}

<div class="row mt-4 align-items-center">
    <div class="col-2">
        <a href="@Url.Action("Index")" class="text-dark"><i class="material-icons" style="font-size: 36px;">arrow_back</i></a>
    </div>
    <div class="col-8 text-center">
        <h2>PARTICIPANTES - Excluir</h2>
    </div>
    <div class="col-2 text-right d-none d-lg-block">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button id="submit" type="submit" class="btn btn-danger">Excluir</button>
        }
        </div>
        <div class="col-2 text-right d-lg-none">
            <div onclick="$('#submit').click()" class="text-danger"><i class="material-icons" style="font-size: 36px;">delete</i></div>
        </div>
</div>
<hr class="mt-1 mb-3" />

<h4 class="mb-3">Tem certeza que deseja deletar o registro abaixo?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PESSOAS.nome)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.PESSOAS.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PARTICIPANTE.titulo)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.TIPO_PARTICIPANTE.titulo)
        </dd>

    </dl>

</div>
